.repo-logo-celula {
  height: 80px;
}
.bs-footer-rights {
  text-align: center;
  padding: 24px 0;
}
.flex-just-center {
  justify-content: center;
}
.mt48 {
  margin-top: 48px;
}

@media (max-width: 992px)
{
  .repo-logo-celula {
  margin: 0 auto;
  }
}