@font-face {
  font-family: 'bradesco_v3';
  src:  url('fonts/bsiconsV3/bradesco_v3.eot?4kdzqw');
  src:  url('fonts/bsiconsV3/bradesco_v3.eot?4kdzqw#iefix') format('embedded-opentype'),
    url('fonts/bsiconsV3/bradesco_v3.ttf?4kdzqw') format('truetype'),
    url('fonts/bsiconsV3/bradesco_v3.woff?4kdzqw') format('woff'),
    url('fonts/bsiconsV3/bradesco_v3.svg?4kdzqw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bradesco_v3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-v3-avancar10:before {
  content: "\e900";
}
.icon-v3-alerta-basico:before {
  content: "\e901";
}
.icon-v3-dots:before {
  content: "\e902";
}
.icon-v3-pause:before {
  content: "\e903";
}
.icon-v3-regressar10:before {
  content: "\e904";
}
.icon-v3-som-mudo:before {
  content: "\e905";
}
.icon-v3-som-volume-alto:before {
  content: "\e906";
}
.icon-v3-som-volume-baixo:before {
  content: "\e907";
}
